// Place all the styles related to the ritlies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headline {
	font-family: 'Fontdiner Swanky', cursive;
	font-size: 44px;
	color: #FB610C;
}

h1.headline {
	text-align: center;
}

body {
	background-color: #FFB111;
}

.index {
	text-align: center;
	margin: 200px auto;
}

.text-form {
	width: 300px;
	height: 34px;
}

.my-hidden-xs {
	font-size: large;
}

@media (max-width: 400px) {
  .my-hidden-xs {
    display: none;
  }
}

.btn-color {
	background-color: #FF0000;
	color: white;
}

.btn-color:hover {
	background-color: #410DFF;
	color: white;
}

.navbar-default {
	background-color: #FB610C;
}

.navbar-default .navbar-brand {
		color: #FFB111;
}

.preview {
	width: 700px;
	height: 350px;
	display: block;
	margin: 0 auto;	
}

.center {
	text-align: center;
}

.center > a {
	font-size: 24px;
	text-decoration: none;
	color: #FB610C;
}

.navbar-default .navbar-nav>li>a {
	color: #FFB111;
}

.link {
	color: #410DFF;
}

.link:hover {
	text-decoration: none;
	color:#FB610C;
}
.color {
	color: #FB610C
}



